# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage
/e2e/compiled
/e2e/error-shots
/css-test/

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store

# generated
*.scss.d.ts
*.css.d.ts
/dist/
/src/components/**/*.css
**/*.css
/storybook-static/

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# IDE Stuff
.code-workspace
.idea
.project
.next/
/.project/
/.settings/
.settings/org.eclipse.wst.common.project.facet.core.xml
.settings/ts.eclipse.ide.core.prefs

# VScode settings
.vscode/*
!.vscode/co-authored-by.code-snippets
!.vscode/extensions.json
